name: Run Tests

on: [pull_request, workflow_dispatch]

jobs:
  test_linux_python38:
    secrets: inherit
    uses: ./.github/workflows/run_tests_linux.yml
    with:
      python-version: "3.8"
  test_linux_python312:
    secrets: inherit
    uses: ./.github/workflows/run_tests_linux.yml
    with:
      python-version: "3.12"
  test_windows_python312:
    secrets: inherit
    uses: ./.github/workflows/run_tests_windows.yml
    with:
      python-version: "3.12"